body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 100%;
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #dadfea;
}
.centerbox{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logoimage{
    width: 108px;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 55%;
    font-size: 13px;
}
.nav a, .nav a:hover{
    text-decoration: none;
    color: #333;
    border: 1px solid #dadfea;
    border-radius: 4px;
    padding: 7px 15px;
}